@import "ui-variables";

.morpher-variables button {
  margin-top: @component-padding;
}

.tooltip.morpher-above-panel {
  z-index: 99999;
}

.morpher-variables .morpher-variables-fields {
  max-height: 300px;
  overflow-y: auto;
}
